.allocatedAmount {
  margin: 8px;
}

.allotmentWrapper {
  border-radius: 8px;
  margin-right: 12px;
  padding: 0 8px;
}

.allocatedBgColor {
  background-color: var(--light-yellow);
}

.unAllocatedBgColor {
  background-color: var(--light-green);
}
.allocatedPercent {
  border-radius: 8px;
  background-color: var(--yellow);
  padding: 2px 8px;
}
.unAllocatedPercent {
  border-radius: 8px;
  background-color: var(--green);
  padding: 2px 8px;
}

.container {
  display: flex;
  align-items: center;
  margin: 6px;
  padding: 0 8px;
}
