.container {
  margin: 4px 8px;
  padding: 8px 12px;
  background-color: var(--button-primary);
  border-radius: 8px;
}

.headerWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--button-text-color);
}

.contentWrapper {
  border: 1px solid black;
  border-radius: 8px;
  padding: 4px 8px;
  margin-top: 12px;
}
